{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Об авторе</title>
{% endblock %}
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <div class="row">
      <h1>About me.</h1>
      <aside class="col-12 col-md-3"><br>
        <img src="{%  static 'img/author.jpg' %}" width="300" class="d-inline-block align-top" alt="">
      </aside>
      <article class="col-12 col-md-9"><br>
        <p>Привет! Меня зовут Ильдар, и я рад приветствовать вас на своей странице "о себе".</p>
        <p>Мне 21, родился в прекрасном городе Казань, республики Татарстан.</p>
        <p>После окончания 9 классов гимназии я решил продолжить свое образование и поступил в колледж, где получил диплом по специальности 09.02.06 'Сетевое и системное администрирование'. Я узнал много интересного и полезного, и это укрепило мое желание продолжить свое обучение.</p>
        <p>Сейчас я учусь на бакалавра по специальности 09.03.04 'Программная инженерия', и это очень увлекательно и интересно. Я узнаю много нового и расширяю свои познания в этой сфере.</p>
        <p>Я надеюсь, что вы узнали немного больше обо мне, и если у вас есть какие-либо вопросы, не стесняйтесь задавать их мне. Я всегда открыт для новых знакомств и общения!</p>
      </article>
    </div>
  </div>
{% endblock %}