{% extends 'base.html' %}
{% load static %}
{% block title %}
  <title>Об авторе</title>
{% endblock %}
{% block content %}
  <!-- класс py-5 создает отступы сверху и снизу блока -->
  <div class="container py-5">
    <div class="row">
      <h1>Инструменты и стек.</h1>
      <aside class="col-12 col-md-3"><br>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Python
          </li>
          <li class="list-group-item">
            Django
          </li>
          <li class="list-group-item">
            HTML
          </li>
          <li class="list-group-item">
            CSS
          </li>
          <li class="list-group-item">
            Bootstrap
          </li>
          <li class="list-group-item">
            Unittest
          </li>
        </ul>
      </aside>
      <article class="col-12 col-md-9"><br>
        <ul>
          <li>Python - мой основной язык программирования. Я использую его для написания бэкенд-кода, а также для автоматизации различных задач.</li>
          <li>Django - это веб-фреймворк на языке Python, который я использую для создания веб-приложений. Он предоставляет множество полезных инструментов для ускорения разработки и облегчения ее процесса.</li>
          <li>HTML и CSS - это основы веб-разработки. HTML используется для создания структуры веб-страницы, а CSS - для ее оформления и стилизации.</li>
          <li>Bootstrap - это фреймворк для CSS, который предоставляет готовые стили и компоненты для ускорения разработки веб-сайтов. Он помогает сделать веб-сайт адаптивным и приятным для пользователей.</li>
          <li>Unittest - это библиотека для тестирования кода на языке Python. Я использую ее для написания автоматических тестов, которые помогают мне быстро находить и исправлять ошибки в коде.</li>
        </ul>
      <p>Конечно, это не все инструменты, которые я использую в своей работе, но они являются основными. Я всегда открыт для новых технологий и готов учиться новому, чтобы стать еще более квалифицированным разработчиком.</p>
      </article>
    </div>
  </div>
{% endblock %}